<h1><%= @guest.name %> </h1>
<p> <%= @guest.occupation %><br /><br />
<p> Appears in these episodes:</p> <br />
<ul>
  <% @guest.episodes.each do |episode| %>
  <li><%= link_to episode.date, episode_path(episode) %> -  appearance rating here</li>
  <% end %>
</ul>