<h1><%= @guest.name %> </h1>
<p> <%= @guest.occupation %><br /><br />
<% if @episodes %>
  <p> Appears in these episodes:</p> <br />
  <ul>
    <% @episode_data.each do |episode| %>
      <li>
        Date aired: <%= episode[:date] %> -
        Rating: <%= episode[:rating] %>/ 5</li>
    <% end %>
  </ul>
<% end %>

<%# <ul> %>
  <%# <% @guest.episodes.each do |episode| %>
  <%#Appearance.where(episode: episode, guest: @guest).first[:rating] %> 
  <%# <% end %>
<%# </ul> %>