<h1><%=@guest.name%></h1>
<h3><%= @guest.occupation %> </h3>

<ul>
    <li>
    <%@guest.episodes.each do |episode| %>
    <%= link_to episode.date, episode_path(episode) %> 
    Rating: <%= @guest.appearances_rating(episode)%> 
    </li>
<% end %>
</ul>